<%- include("templates/header") %>
<div id="topcontainer">

    <h1 id="directions">Directions</h1>

    <input id="me" placeholder="My Location">

    <form id="meTravelMode">
      <div class="travelModeImg">
        <input id="driving" type="radio" name="meTravel" value="DRIVING" style="display: none">
          <label for="driving">
            <img src="/images/driving.png">
          </label>
      </div>
      <div class="travelModeImg">
        <input id="transit" type="radio" name="meTravel" value="TRANSIT" style="display: none">
          <label for="transit">
            <img src="/images/transit.png">
          </label>
      </div>
      <div class="travelModeImg">
        <input id="bicycling" type="radio" name="meTravel" value="BICYCLING" style="display: none">
          <label for="bicycling">
            <img src="/images/bicycling.png">
          </label>
      </div>
      <div class="travelModeImg">
        <input id="walking" type="radio" name="meTravel" value="WALKING" style="display: none">
          <label for="walking">
            <img src="/images/walking.png">
          </label>
      </div>
    </form>

    <input id="them" placeholder="Their Location">

    <form id="themTravelMode">
      <div class="travelModeImg">
        <input id="driving" type="radio" name="themTravel" value="DRIVING" style="display: none">
          <label for="driving">
            <img src="/images/driving.png">
          </label>
      </div>
      <div class="travelModeImg">
        <input id="transit" type="radio" name="themTravel" value="TRANSIT" style="display: none">
          <label for="transit">
            <img src="/images/transit.png">
          </label>
      </div>
      <div class="travelModeImg">
        <input id="bicycling" type="radio" name="themTravel" value="BICYCLING" style="display: none">
          <label for="bicycling">
            <img src="/images/bicycling.png">
          </label>
      </div>
      <div class="travelModeImg">
        <input id="walking" type="radio" name="themTravel" value="WALKING" style="display: none">
          <label for="walking">
            <img src="/images/walking.png">
          </label>
      </div>
    </form>
</div>

<div id="startButton">Start</div>

<div id="map"></div>

<div id="centerButton"></div>

<div id="meetupButton"></div>

<style>
    body {
      background-color: #222023;
      font-family: "Kanit", sans-serif !important;
      font-weight: 600;
      font-style: normal;
    }
    ::placeholder {
      color: white;
      padding: 0 10px;
      font-size: 16px;
      font-family: "Kanit", sans-serif !important;
    }
    input {
      background-color: #302D33;
      border: none;
      border-radius: 10px;
      width: 80%;
      height: 12%;
      margin: 0 10% 0 10%;
      color: white;
      outline: none;
    }
    #map {
      height: 70vh;
      width: 100%;
      z-index: 1;
    }
    #topcontainer {
      height: 26vh;
      width: 100%;
    }
    #meTravelMode * {
      margin: 2px 1%;
    }
    #themTravelMode * {
      margin: 2px 1%;
    }
    #meTravelMode {
      display: flex;
      margin-left: 10%;
      width: 80%;
    }
    #meTravelMode img {
      margin: 2px;
      width: 100%;
    }
    #themTravelMode {
      display: flex;
      margin-left: 10%;
      width: 80%;
    }
    #themTravelMode img {
      margin: 2px;
      width: 100%;
    }

    #centerButton {
      width: 70px;
      height: 70px;
      background-color: purple;
      border-radius: 50%;
      z-index: 1000;
      position: absolute;
      bottom: 10px;
      right: 10px;

    }
    #meetupButton {
      width: 70px;
      height: 70px;
      background-color: #8a2cb9;
      border-radius: 50%;
      z-index: 1000;
      position: absolute;
      bottom:90px;
      right: 10px;
    }
    #directions {
      color: white;
      font-weight: 500;
      margin-left: 10%;
    }
    #startButton {
      border-radius: 10px;
      background-color: #8F00FF;
      color: white;
      width: 30%;
      height: 15%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .meetup-button {
    transition: background-color 0.25s ease-in-out;
    }
    .meetup-button.selected {
      background-color: red;
    }

</style>

<script>
let initialSelect = document.querySelectorAll('input[value="WALKING"]');
initialSelect.forEach(item => {
  item.checked = true;
  const initialImg = item.nextElementSibling.querySelector("img");
  initialImg.src = "/images/walking2.png"
})



document.querySelectorAll("#meTravelMode, #themTravelMode").forEach(form => {
  form.addEventListener('click', (event) => {
    event.preventDefault();
    const clickedItem = event.target.closest('.travelModeImg');
    if (clickedItem) {
      const radio = clickedItem.querySelector('input[type="radio"]');
      radio.checked = true;

      form.querySelectorAll('.travelModeImg').forEach(item => {
        const img = item.querySelector('img');
        const itemRadio = item.querySelector('input[type="radio"]');
        const mode = itemRadio.value.toLowerCase();
        img.src = itemRadio.checked ? `/images/${mode}2.png` : `/images/${mode}.png`;
      });

      console.log("clicked: ", radio.value);
    }
  });
});
</script>
<%- include("templates/footer") %>