<%- include("templates/header") %>
<div id="topcontainer"></div>
<div id="map"></div>

<style>
    #map {
      height: 98vh;
      width: 100%;
    }
    .gmnoprint {
      display: hidden !important;
    }
</style>

<%- include("templates/footer") %>