<%- include("templates/header") %>
<div id="topcontainer">
    <input id="me" value="My Location">
    <input id="them" placeholder="Their Location">

</div>
<div id="map"></div>



<style>
    #map {
      height: 78vh;
      width: 100%;
      z-index: 1;
    }
    #topcontainer {
      height: 20vh;
      width: 100%;
    }

</style>

<%- include("templates/footer") %>